.pwBg {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 20px;
}

.pwBg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/pngtree-d-illustration-of-unfinished-skyscrapers-and-cranes-at-a-construction-site-picture-image_5596200.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

.hr-line {
    height: 3px;
    width: 100%;
    background-color: black;
    border: 1px solid #000; 
    margin: 20px 0;
}

