.background {
    position: relative;
    min-height: 100vh; /* Use min-height instead of height */
    width: 100%;
    overflow: auto; /* Allow scrolling if content overflows */
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../assets/pngtree-d-illustration-of-unfinished-skyscrapers-and-cranes-at-a-construction-site-picture-image_5596200.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

.hr-line {
    height: 3px;
    width: 100%;
    background-color: black;
    border: none;
    margin: auto; /* Center the hr line */
}

.item-label {
    font-weight: 600;
    margin-left: 20px;
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.item-image:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-display {
    min-width: 30px;
    text-align: center;
}

.checkoutbtn {
    margin-top: 20px;
    text-align: right;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .item-image {
        width: 80px;
        height: 80px;
    }
    
    .quantity-button {
        padding: 5px 8px;
    }
    
    .quantity-display {
        min-width: 25px;
    }
}

@media (max-width: 992px) {
    .item-label {
        font-size: 0.9rem;
    }

    .quantity-button {
        padding: 4px 7px;
    }

    .quantity-display {
        min-width: 20px;
    }

    .grand-total {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .item-label {
        font-size: 0.8rem;
        margin-left: 10px;
    }

    .item-image {
        width: 70px;
        height: 70px;
    }

    .quantity-button {
        padding: 3px 6px;
    }

    .quantity-display {
        min-width: 20px;
    }

    .grand-total {
        font-size: 1.3rem;
    }

    .checkoutbtn {
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .item-label {
        font-size: 0.75rem;
        margin-left: 5px;
    }

    .item-image {
        width: 60px;
        height: 60px;
    }

    .quantity-button {
        padding: 2px 5px;
    }

    .quantity-display {
        min-width: 18px;
    }

    .grand-total {
        font-size: 1.1rem;
    }

    .checkoutbtn {
        text-align: center;
        margin-top: 20px;
    }
}
